
.footcontainer
{
    background-color: rgb(33, 33, 33);
    box-shadow: rgb(48, 48, 48) 0px -5px 5px;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}
.foottext
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-small;
    color: #626262;
}