.container
{
    display: flex;
    flex-direction: column;
    color: azure;
    justify-content: space-between;
    height: 100vh;
}

.slide
{
    height: 500px;
    margin-top: 100px;
    /* border:1px solid rgb(248, 244, 244); */
}

.activity
{
    height: 100px;
    /* border:1px solid rgb(248, 244, 244); */
}

.control
{
    height: 200px;
    /* border:1px solid rgb(248, 244, 244); */
}