.slidebox
{
height:500px;
display: flex;
align-items: center;
justify-content: center;
/* border:1px solid rgb(248, 244, 244); */
}

.slides
{
  display: flex;
  height: 80%;
  background: rgb(67, 66, 66);
  border-radius: 30px;
  box-shadow: rgb(143, 140, 140) 0px 0px 20px;
  /* box-sizing: border-box; */
  color: #FFFFFF;
  border:3px solid rgb(214, 214, 214);
  font-family: Inter,Helvetica;

  align-items: center;
}
